/* .user-panel>.info {
    position: inherit !important;
    left: 0 !important;
} */
.custom-upload {
    text-align: center;
    margin: 10% 0;
}

.lead {
    font-size: 14px !important;
}

.skin-blue .main-header .navbar, .skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #DCD2A3 !important;
}

.skin-blue .main-header li.user-header {
    background-color: #83CA73 !important;
}

.skin-blue .main-header .logo, .skin-blue .main-header .logo:hover {
    background-color: #21212D !important;
}

.box.box-primary, .box.box-info {
    border-top-color: #6ABE52 !important;
}

.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #6ABE52 !important;
}

.btn-info, .btn-primary {
    background-color: #6ABE52 !important;
    border-color: #6ABE52 !important;
}

.body-background-image {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

a, a:hover {
    color: #000;
}

/* .alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
} */