<div class="control-list">
    <table class="table data" data-control="rowlink">
        <thead>
            <tr>
                <th>SL</th>
                <th><a href="javascript:;">Files</a></th>
            </tr>
        </thead>
        <tbody>
            <?php 
            $sl = 1;
            foreach($flies as $key => $val): ?>
            <tr>
                <td>
                    <?php echo $sl; ?>
                </td>
                <td>
                    <a href="<?php echo $val ?>" target="_blank">
                        <?php echo $key; ?>
                    </a>
                </td>
            </tr>
            <?php 
            $sl++;
            endforeach; ?>
        </tbody>
    </table>
</div>