{% if not user %}
<div class="row">
    <div class="col-md-12">
        <h3 style="text-align:center">{{ 'Sign in'|_ }}</h3>
        {{ form_ajax('onSignin') }}
            <div class="form-group">
                <label for="userSigninLogin">{{ loginAttributeLabel|_ }}</label>
                <input
                    name="login"
                    type="text"
                    class="form-control"
                    id="userSigninLogin"
                    placeholder=" {{ 'Enter your'|_ }} {{ 'username'|_ }}" />
            </div>

            <div class="form-group">
                <label for="userSigninPassword">{{ 'Password'|_ }}</label>
                <input
                    name="password"
                    type="password"
                    class="form-control"
                    id="userSigninPassword"
                    placeholder="{{ 'Enter your password'|_ }}" />
            </div>
            <p><a href="{{ url('/forgot-password') }}">{{ 'Forgot password'|_ }} </a></p>
            <button type="submit" class="btn btn-default" style="float:right">{{ 'Sign in'|_ }}</button>
        {{ form_close() }}
    </div>
</div>
{% endif %}