  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <div class="user-panel">
        
        <div class="pull-left image">
          {% if user.avatar is empty %}
            <img src="{{'assets/img/noImage.jpeg'|theme}}" class="img-circle" alt="User Image">
          {% else %}
            <img src="{{ user.avatar.path }}" class="img-circle" alt="User Image">
          {% endif %}
        </div>
        
        <div class="info">
          <p>{{ user.name }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="{{ viewBag.activeMenu == 'dashboard' ? 'active' }}" ><a href="{{ url('/') }}"><i class="fa fa-dashboard"></i><span>{{ 'Dashboard'|_ }}</span></a></li>
        <li class="{{ viewBag.activeMenu == 'documents' ? 'active' }}" ><a href="{{ url('/documents') }}"><i class="fa fa-folder-open-o"></i><span>{{ 'Documents'|_ }}</span></a></li>
        <li class="{{ viewBag.activeMenu == 'upload' ? 'active' }}" ><a href="{{ url('/upload') }}"><i class="fa fa-cloud-upload"></i><span>{{ 'Upload'|_ }}</span></a></li>
        <li class="{{ viewBag.activeMenu == 'reset' ? 'active' }}" ><a href="{{ url('/update') }}"><i class="fa fa-wrench"></i><span>{{ 'Change Password'|_ }}</span></a></li>
        <li><a href="#" data-request="onLogout" data-request-data="redirect: '/login'"><i class="fa fa-power-off"></i><span>{{ 'Sign out'|_ }}</span></a></li> 
      </ul>
    </section>
  </aside>
