<p class="lead">
    {{ 'Please check your email for the activation code.'|_ }}
</p>

<form
    data-request="onResetPassword"
    data-request-update="'reset/complete': '#partialUserResetForm'">
    <div class="form-group">
        <label for="resetCode">{{ 'Activation Code'|_ }}</label>
        <input name="code" type="text" class="form-control" id="resetCode" placeholder="{{ 'Enter the activation code'|_ }}" value="{{ __SELF__.code }}">
    </div>

    <div class="form-group">
        <label for="resetPassword">{{ 'New Password'|_ }}</label>
        <input name="password" type="password" class="form-control" id="resetPassword" placeholder="{{ 'Enter a new password'|_ }}">
    </div>

    <button type="submit" class="btn btn-default">{{ 'Reset password'|_ }}</button>
</form>
