<p class="lead">
    <strong>{{ 'Lost your password?'|_ }}</strong> {{ 'No problem! Enter your email address to verify your account.'|_ }}
</p>

<form
    data-request="onRestorePassword"
    data-request-update="'reset/reset': '#partialUserResetForm'">
    <div class="form-group">
        <label for="userRestoreEmail">Email</label>
        <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="{{ 'Enter your email'|_ }}">
    </div>

    <button type="submit" class="btn btn-default">{{ 'Restore password'|_ }}</button>
</form>
