description = "Fixed layout"

[session]
security = "user"
redirect = "login"

[localePicker]
==
<!DOCTYPE html>{% component 'session' %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Greentrax</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{'assets/bower_components/bootstrap/dist/css/bootstrap.min.css'|theme}}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{'assets/bower_components/font-awesome/css/font-awesome.min.css'|theme}}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{'assets/bower_components/Ionicons/css/ionicons.min.css'|theme}}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{'assets/css/AdminLTE.min.css'|theme}}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{{'assets/css/skins/_all-skins.min.css'|theme}}">
  <!-- Morris chart -->
  <link rel="stylesheet" href="{{'assets/bower_components/morris.js/morris.css'|theme}}">
  <!-- jvectormap -->
  <link rel="stylesheet" href="{{'assets/bower_components/jvectormap/jquery-jvectormap.css'|theme}}">
  <!-- Date Picker -->
  <link rel="stylesheet" href="{{'assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'|theme}}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{'assets/bower_components/bootstrap-daterangepicker/daterangepicker.css'|theme}}">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="{{'assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'|theme}}">

  <!-- Data tables -->
  <link rel="stylesheet" href="{{'assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'|theme}}">

  <!-- Custom Css -->
  <link rel="stylesheet" href="{{'assets/css/custom.css'|theme}}">

  <!-- fav icon -->
  <link rel="icon" type="image/png" href="{{ 'assets/img/greentrax-logo.png'|theme }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> -->
  {% placeholder headScripts %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="{{ 'assets/img/greentrax-logo.png'|theme }}"></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="{{ 'assets/img/greentrax-logo.png'|theme }}"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
          
            <!--
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            -->
          
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if user.avatar is empty %}
              <img src="{{'assets/img/noImage.jpeg'|theme}}" class="user-image" alt="User Image"> 
              {% else %}
              <img src="{{ user.avatar.path }}" class="user-image" alt="User Image">
              {% endif %}
              <span class="hidden-xs">{{ user.username }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              
              <li class="user-header">
                {% if user.avatar is empty %}
                <img src="{{'assets/img/noImage.jpeg'|theme}}" class="img-circle" alt="User Image">
                {% else %}
                <img src="{{ user.avatar.path }}" class="img-circle" alt="User Image">
                {% endif %}
                <p>                                                         
                  {{ user.name }}
                  <small> {{ 'Joined'|_ }} {{ user.created_at|date("M d, Y   ")}}</small>
                </p>
              </li>
              
              <!-- Menu Body -->
              
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ url('/update') }}" class="btn btn-default btn-flat">{{ 'Change Password'|_ }}</a>
                </div>
                <div class="pull-right">
                  <a data-request="onLogout" data-request-data="redirect: '/login'" class="btn btn-default btn-flat">{{ 'Sign out'|_  }}</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <!--
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
          -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  {% partial "main-sidebar" %}

  <!-- Content Wrapper. Contains page content -->
  {% page %}
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b></b>
    </div>
    <strong>Copyright &copy; {{ user.created_at|date("Y")}}  <a href="https://www.greentrax.de/" target="_blank"><span style="color:#3A8224">Green</span><span style="color: #454451">Trax</span></a>.</strong> All rights
    reserved.
  </footer>
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="{{'assets/bower_components/jquery/dist/jquery.min.js'|theme}}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{'assets/bower_components/jquery-ui/jquery-ui.min.js'|theme}}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="{{'assets/bower_components/bootstrap/dist/js/bootstrap.min.js'|theme}}"></script>
<!-- Morris.js charts -->
<script src="{{'assets/bower_components/raphael/raphael.min.js'|theme}}"></script>
<script src="{{'assets/bower_components/morris.js/morris.min.js'|theme}}"></script>
<!-- Sparkline -->
<script src="{{'assets/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js'|theme}}"></script>
<!-- jvectormap -->
<script src="{{'assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'|theme}}"></script>
<script src="{{'assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'|theme}}"></script>
<!-- jQuery Knob Chart -->
<script src="{{'assets/bower_components/jquery-knob/dist/jquery.knob.min.js'|theme}}"></script>
<!-- daterangepicker -->
<script src="{{'assets/bower_components/moment/min/moment.min.js'|theme}}"></script>
<script src="{{'assets/bower_components/bootstrap-daterangepicker/daterangepicker.js'|theme}}"></script>
<!-- DataTables -->
<script src="{{'assets/bower_components/datatables.net/js/jquery.dataTables.min.js'|theme}}"></script>
<script src="{{'assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'|theme}}"></script>
<!-- datepicker -->
<script src="{{'assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'|theme}}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{{'assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'|theme}}"></script>
<!-- Slimscroll -->
<script src="{{'assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js'|theme}}"></script>
<!-- FastClick -->
<script src="{{'assets/bower_components/fastclick/lib/fastclick.js'|theme}}"></script>
<!-- AdminLTE App -->
<script src="{{'assets/js/adminlte.min.js'|theme}}"></script>

<!-- AdminLTE for demo purposes -->
<script src="{{'assets/js/demo.js'|theme}}"></script>

<!-- page script -->
<script>
  $(function () {
    $('#example2').DataTable({
      // 'paging'      : true,
      // 'lengthChange': false,
      // 'searching'   : false,
      // 'ordering'    : true,
      // 'info'        : true,
      // 'autoWidth'   : false,
      'columnDefs': [
        { 
          "targets": [ 2 ], //first column / numbering column
          "orderable": false, //set not orderable
        }
      ],
    })
  })
</script>

{% scripts %}
{% framework extras %}
</body>
</html>