title = "Demonstration"
url = "/documents"
layout = "fixed"
is_hidden = 0
[viewBag]
activeMenu = "documents"

[documents]
==

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>{{ 'Home'|_ }}</a></li>
      <li class="active">{{ 'Documents'|_ }}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-10">
        <div class="box box-primary">
          <div class="box-header with-border">
              <h3 class="box-title">{{ 'List of uploaded documents'|_ }}</h3>
            </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 50px">SL</th>
                  <th>{{ 'File Name'|_ }}</th>
                  <th style="width: 80px;text-align:center">{{ 'Action'|_ }}</th>
                </tr>
              </thead>
              <tbody>
                {% set counter = 1 %}
                {% for document in documents.getDocuments %}
                <tr>
                  <td>{{ counter }}</td>
                  <td><a href='{{ document.path }}' target='_blank'><i class='fa fa-file-pdf-o'></i> {{ document.title }}</a></td>
                  <td style="text-align:center"><a href='{{ document.path }}' target='_blank'><i class='fa fa-eye'></i></td>
                </tr>
                {% set counter = counter + 1 %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>