title = "Forgot password"
url = "/forgot-password/:code?"
is_hidden = 0

[resetPassword]
paramCode = "code"

[localePicker]
==
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Greentrax</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{'assets/bower_components/bootstrap/dist/css/bootstrap.min.css'|theme}}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{'assets/bower_components/font-awesome/css/font-awesome.min.css'|theme}}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{'assets/bower_components/Ionicons/css/ionicons.min.css'|theme}}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{'assets/css/AdminLTE.min.css'|theme}}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{'assets/plugins/iCheck/square/blue.css'|theme}}">
  <!-- Custom Css -->
  <link rel="stylesheet" href="{{'assets/css/custom.css'|theme}}">

  <!-- fav icon -->
  <link rel="icon" type="image/png" href="{{ 'assets/img/greentrax-logo.png'|theme }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> -->
</head>
<body class="hold-transition login-page body-background-image" style="background: url( {{'assets/img/cover.jpg'|theme}}) no-repeat center center fixed;">
<div class="login-box">
  <div class="login-logo">
    <img src="{{ 'assets/img/greentrax-logo.png'|theme }}">
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Reset Password</p>
    {% partial 'reset/default' %} <!-- component 'resetPassword' -->
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{{'assets/bower_components/jquery/dist/jquery.min.js'|theme}}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{'assets/bower_components/bootstrap/dist/js/bootstrap.min.js'|theme}}"></script>
<!-- iCheck -->
<script src="{{'assets/plugins/iCheck/icheck.min.js'|theme}}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>

{% scripts %}
{% framework extras %}
</body>
</html>
l>