title = "Log in"
url = "/login"
is_hidden = 0

[account]
redirect = "index"
forceSecure = 0
requirePassword = 0

[localePicker]
==
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Greentrax</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{'assets/bower_components/bootstrap/dist/css/bootstrap.min.css'|theme}}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{'assets/bower_components/font-awesome/css/font-awesome.min.css'|theme}}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{'assets/bower_components/Ionicons/css/ionicons.min.css'|theme}}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{'assets/css/AdminLTE.min.css'|theme}}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{'assets/plugins/iCheck/square/blue.css'|theme}}">
  <!-- Custom Css -->
  <link rel="stylesheet" href="{{'assets/css/custom.css'|theme}}">

  <!-- fav icon -->
  <link rel="icon" type="image/png" href="{{ 'assets/img/greentrax-logo.png'|theme }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> -->
</head>
<body class="hold-transition login-page body-background-image" style="background: url( {{'assets/img/cover.jpg'|theme}}) no-repeat center center fixed;">
<div class="login-box">
  <div class="login-logo">
    <img src="{{ 'assets/img/greentrax-logo.png'|theme }}">
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    
    <div class="error-message"></div>

    <p class="login-box-msg">{{ 'Sign in to start your session'|_ }}</p>

    {% partial 'login-form' %}

    <div class="showSetLanguage" style="display:none">{{ activeLocale }}</div>

    <div class="loginRequired" style="display:none"> {{ 'The login field is required.'|_ }} </div>
    <div class="wrongPasswordMessage" style="display:none"> {{ 'A user was found to match all plain text credentials however hashed credential "password" did not match.'|_ }} </div>
    <div class="notFoundUser" style="display:none"> {{ 'A user was not found with the given credentials.'|_ }} </div>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{{'assets/bower_components/jquery/dist/jquery.min.js'|theme}}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{'assets/bower_components/bootstrap/dist/js/bootstrap.min.js'|theme}}"></script>
<!-- iCheck -->
<script src="{{'assets/plugins/iCheck/icheck.min.js'|theme}}"></script>
<!-- custom js -->
<script src="{{'assets/js/custom-login.js'|theme}}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>

{% scripts %}
{% framework extras %}
</body>
</html>
l>