title = "Change Password"
url = "/update"
layout = "fixed"
is_hidden = 0


[viewBag]
activeMenu = "reset"

[changePassword]
==
<!-- Main content -->
<!-- Content Header (Page header) -->
<div class="content-wrapper">
   <section class="content-header">
      <h1>
         <small></small>
      </h1>
      <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i>{{ 'Home'|_ }}</a></li>
         <li class="active">{{ 'Change Password'|_ }}</li>
      </ol>
   </section>

   <section class="content">
      <!-- Horizontal Form -->
      <div class="col-md-10">
         <div class="box box-info">
            <div class="box-header with-border">
               <h3 class="box-title">{{ 'Reset Password'|_ }}</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" data-request="onChangePassword" data-request-loading data-request-flash
               data-request-success="$('#password').val(''); $('#password_confirmation').val('');">
               <div class="box-body">
                  <div class="form-group">
                     <label for="password" class="col-sm-3 control-label">{{ 'Password'|_ }}</label>

                     <div class="col-sm-9">
                        <input type="password" name="password" class="form-control" id="password"
                           placeholder="{{ 'password'|_ }}">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="password_confirmation" class="col-sm-3 control-label">{{ 'Confirm Password'|_ }}</label>

                     <div class="col-sm-9">
                        <input type="password" name="password_confirmation" class="form-control"
                           id="password_confirmation" placeholder="{{ 'Confirm Password'|_ }}">
                        <p class="help-block">{{ 'Password Must be between 8 and 255 characters'|_ }}</p>
                     </div>

                  </div>
               </div>
               <!-- /.box-body -->
               <div class="box-footer">
                  <button type="submit" class="btn btn-info pull-right">{{ 'Submit'|_ }}</button>
               </div>
               <!-- /.box-footer -->
            </form>
         </div>
      </div>
   </section>
</div>
<!-- /.box -->
<!-- /.content -->