title = "Upload File"
url = "/upload"
layout = "fixed"
is_hidden = 0
[viewBag]
activeMenu = "upload"
==
<div class="content-wrapper">
<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>{{ 'Home'|_ }}</a></li>
      <li class="active">{{ 'Upload'|_ }}</li>
    </ol>
  </section>
<script src="https://unpkg.com/@flatfile/adapter/build/dist/index.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-10">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'Upload'|_ }}</h3>
            </div>
             <div class="box-body">
                <div class="col-md-12 custom-upload">
                    <input type="button" id="launch" class="btn btn-primary" value="{{ 'Import'|_ }}" />
                    <br>
                    <div class="download" style="margin-top:10px">
                        <a href="robots.csv" target="_blank" rel="noopener noreferrer">
                            {{ 'Download a sample csv file here'|_ }}
                        </a>
                    </div>
                </div>
             </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </section>
     <script>
        // const importer = new FlatfileImporter(
        //     "52a347dd-42ba-49b3-a006-b5a6def078f1", {
        //         type: "Import type",
        //         fields: [{
        //                 label: "Name",
        //                 key: "name"
        //             },
        //             {
        //                 label: "Email",
        //                 key: "email_address"
        //             }
        //         ]
        //     }
        // );
        const robotImporter = new FlatfileImporter(
            "52a347dd-42ba-49b3-a006-b5a6def078f1", {
                type: "imports",
                fields: [{
                        label: "Customer Name",
                        key: "name",
                        description: "Name of the customer",
                        validators: [
                            // {
                            //     validate: "required_without",
                            //     fields: ["id", "shield-color"],
                            //     error: "must be present if no id or shield color"
                            // },
                            {
                                validate: "required"
                            },
                            {
                                validate: "unique"
                            }
                        ]
                    },
                    {
                        label: "Email Address",
                        key: "email",
                        description: "email address of customer",
                        // validators: [{
                        //     validate: "regex_matches",
                        //     regex: "/^[a-zA-Z]+$/",
                        //     error: "Not alphabet only"
                        // }]
                    },
                    {
                        label: "Position Title",
                        key: "position_title",
                        description: "name of the position",
                        // validators: [{
                        //     validate: "regex_matches",
                        //     regex: "/^[a-zA-Z]+$/",
                        //     error: "Not alphabet only"
                        // }]
                    },
                    {
                        label: "Phone Number",
                        key: "phone_number",
                        description: "phone number",
                        // validators: [{
                        //     validate: "regex_matches",
                        //     regex: "/^[a-zA-Z]+$/",
                        //     error: "Not alphabet only"
                        // }]
                    }
                    // {
                    //     label: "Shield Color",
                    //     key: "shield-color",
                    //     description: "Chromatic value",
                    //     validators: [{
                    //         validate: "regex_matches",
                    //         regex: "/^[a-zA-Z]+$/",
                    //         error: "Not alphabet only"
                    //     }]
                    // },
                    // {
                    //     label: "Robot Helmet Style",
                    //     key: "helmet-style",
                    //     type: "select",
                    //     options: [{
                    //             label: "square",
                    //             value: "square"
                    //         },
                    //         {
                    //             label: "round",
                    //             value: "round"
                    //         },
                    //         {
                    //             label: "triangle",
                    //             value: "triangle"
                    //         }
                    //     ]
                    // },
                    // {
                    //     label: "Active",
                    //     key: "available",
                    //     type: "checkbox"
                    // },
                    // {
                    //     label: "Call Sign",
                    //     key: "sign",
                    //     alternates: ["nickname", "wave"],
                    //     validators: [{
                    //             validate: "regex_matches",
                    //             regex: "/^[a-zA-Z]{4}$/",
                    //             error: "must be 4 characters exactly"
                    //         },
                    //         {
                    //             validate: "regex_excludes",
                    //             regex: "/test/",
                    //             error: 'must not include the word "test"'
                    //         },
                    //         {
                    //             validate: "required"
                    //         }
                    //     ]
                    // },
                    // {
                    //     label: "Robot ID Code",
                    //     key: "id",
                    //     description: "Digital identity",
                    //     validators: [{
                    //             validate: "regex_matches",
                    //             regex: "numeric",
                    //             error: "must be numeric"
                    //         },
                    //         {
                    //             validate: "required_without",
                    //             fields: ["name"],
                    //             error: "ID must be present if name is absent"
                    //         }
                    //     ]
                    // }
                ],
                styleOverrides: {
                    // borderRadius: "0px", // Flatfile wrapper, modals, & buttons
                    // primaryButtonColor: "#ff1aff", // Primary buttons
                    // linkColor: "#ff1aff", // Links
                    // linkAltColor: "#4a90e2", // :hover, :active, & :focus states of links
                    // primaryTextColor: "#33ff33", // Main text color, background-color of certain buttons
                    // secondaryTextColor: "#ff3333", // 'Dimmed' text
                    // errorColor: "#ff1aff", // Invalid and error indicator borders, icons, and text
                    // successColor: "#ff1aff", // Success text, buttons, icons, toggles, required indicators
                    // warningColor: "#ff1aff", // Warning text and icons
                    // borderColor: "#ff1aff" // Flatfile wrapper, modals, and some buttons
                },
                i18nOverrides: {
                    // select the locale here
                    // Currently supported languages:
                    // German - de
                    // German (Germany) - de-DE
                    // English - en
                    // English (Canada) - en-CA
                    // English (United Kingdom) - en-GB
                    // English (United States) - en-US
                    // Spanish - es
                    // Spanish (Spain) - es-ES
                    // French - fr
                    // French (France) - fr-FR
                    // Italian - it
                    // Japanese - ja
                    // Korean - ko
                    // Dutch - nl
                    // Polish - pl
                    // Portuguese - pt
                    // Portuguese (Brazil) - pt-BR
                    // Swedish - sv
                    // Thai - th
                    // Turkish - tr
                    // Chinese - zh
                    // Chinese (Simplified) - zh-Hans
                    // Chinese (Traditional) - zh-Hant
                    // Chinese (Traditional, Taiwan) - zh-Hant-TW
                    "en-US": {
                        otherLocales: ["en", "en-CA", "en-GB"],
                        overrides: {
                            //input key: "value" pairs here - the ones listed are the default values
                            alreadyMatched: "{{priorMatch}} already been matched to {{label}}.",
                            autoMatchedField1: "Matched to the ",
                            autoMatchedField2: " field.",
                            breadcrumbs: {
                                columns: " columns",
                                complete: "Complete",
                                match: "Match",
                                problems: " problems",
                                repair: "Repair",
                                spreadsheet: " your spreadsheet",
                                upload: "Upload"
                            },
                            buttons: {
                                back: "Go back",
                                cancel: "Cancel",
                                clear: "Clear data",
                                complete: "Complete",
                                confirm: "Confirm",
                                confirmMapping: "Confirm mapping",
                                continue: "Continue",
                                customField: "Include as custom field",
                                edit: "Edit",
                                ignore: "Ignore this column",
                                no: "No",
                                ok: "Ok",
                                review: "Review",
                                yes: "Yes"
                            },
                            clearAllChanges: "Are you sure you want to clear all changes to data in progress in this stage?",
                            clearAndClose: "Are you sure you want to close the importer and clear all data?",
                            columnHeader: "Does this row contain column names?",
                            confirmedMapping: "Confirmed mapping",
                            dropzone: {
                                accepted: "{{types}} spreadsheets accepted.",
                                button: "Upload data from file"
                            },
                            errors: {
                                anomolies: "The CSV-to-JSON parser tracked some anomalies in your CSV file. The errors were not fatal, but you can review them below and choose to edit them before including them in your data set, or you can choose to ignore them and they will be skipped.",
                                dupHeaders: "There are duplicate headers: {{headers}}. Please fix and upload again.",
                                error: "Errors: {{errors}}",
                                fileReader: "FileReader is not supported in this browser.",
                                maxRecords: "The maximum number of rows we accept is {{maxRecords}}. Consider breaking your file into multiple parts.",
                                notSupported: "This file type is not supported.",
                                parsing: "Parsing errors",
                                unreadable: "Cannot read file!",
                                discardRowsWithErrors: "Discard {{errorCount}} rows with issues. Submit the rest.",
                                unresolvedFormat: "You have {{errorCount}} rows with unresolved format issues."
                            },
                            fileTypes: "You can upload any {{fileTypes}} file with any set of columns as long as it has 1 record per row. The next step will allow you to match your spreadsheet columns to the right data points. You'll be able to clean up or remove any corrupted data before finalizing your report.",
                            header: "Bulk add {{number}} {{thing}}",
                            header2: "Bulk add {{thing}}",
                            ignored: "Ignored",
                            inconvenience: "Sorry for the inconvenience. The XLS file you uploaded may be using features that make it difficult for us to extract the correct data. In order to continue, save your XLS file as a CSV and re-upload. Here are some instructions: ",
                            inconvenienceDocs: "Read instructions on exporting a CSV from Excel",
                            lookupMatchingFields: "Lookup matching fields",
                            manual: "...or just manually enter your data here:",
                            noMatchSelected: "No match selected. We suggest '{{suggestedMatch}}'",
                            nothingPasted: "There is no data pasted to be submitted!",
                            onlyShow: "Only show rows with problems",
                            readySubmit: "Are you ready to submit?",
                            required: "required",
                            reviewFix: "Review and fix the format issues.",
                            rowsFail: "{{failed}}% of rows fail validation (repair on next step)",
                            rowsHaveValue: "{{rows}} of your rows have a value for this column",
                            submitAnyway: "Submit your data anyways (errors may occur).",
                            success: "Success!",
                            unableToMatch: "Select a match or enter a custom value",
                            uploading: "Uploading...",
                            validationPass: "All values pass validation for this field"
                        }
                    }
                },
                allowInvalidSubmit: true,
                managed: true,
                allowCustom: true,
                disableManualInput: false
            }
        );

        robotImporter.setCustomer({
            userId: 1,
            email: "john@doe.com",
            name: "John Doe",
            phone_number: "Acme Inc."
        });

        $("#launch").click(function () {
            robotImporter.setCustomer({
                userId: 1,
                email: "me@david.gs"
            });
            robotImporter
                .requestDataFromUser()
                .then(function (results) {
                    robotImporter.displaySuccess();
                    //$("#raw_output").text(JSON.stringify(results.data, " ", 2));
                })
                .catch(function (error) {
                    console.info(error || "window close");
                });
        });
    </script>
    <!-- /.content -->
</div>

